.el-checkbox {
  &__input.is-checked {
    + .el-checkbox__label {
      color: $green !important;
    }

    .el-checkbox__inner,
    .el-checkbox__input.is-indeterminate .el-checkbox__inner {
      background-color: $green !important;
      border-color: $green !important;
    }
  }
}

.el-button--primary {
  background-color: $green !important;
  border-color: $green !important;
}

.el-link {
  &.el-link--default:hover {
    color: $green !important;
  }
  &.is-underline:hover:after {
    border-bottom: 1px solid $green !important;
  }
}
.el-loading-spinner .path {
  stroke: $green !important;
}
